%p
  “Quer do ponto de vista técnico quer do ponto de vista humano, só posso caracterizar a Humanize como um serviço de excelência. Decisiva para a minha recuperação clínica e reintegração na vida activa. Ou a arte de transformar um episódio doloroso e negativo, em algo rapidamente esquecido e... positivo! O meu obrigado.”