= provide(:title, 'Home')
.col-full.slider
  %h1 SLIDER
.col-1-3.services
  %h2 Serviços
  = render 'general/serviceslist'
  
.col-1-3.area
  %h2 Zona de Abrangência   
  %ul
    %li Coimbra
    %li Lousã
    %li Miranda do Corvo
    %li Penacova
    %li Vila Nova de Poiares            
  

.col-1-3.schedule
  %h2 Horário
  %ul
    %li Dias úteis das 8 às 19 horas
    %li Fins de semana e feriados: consoante marcação prévia
  

.col-1-3.budget
  %h2 Contacte-nos
  %ul
    %li Diga-nos o que necessita e daremos a melhor solução
    