/ %div{:align => "center"}
%div
  %h3 Send a message to Us
  = simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f|
    = f.input :name, :required => true
    = f.input :email, :required => true
    = f.input :message, :as => :text, :required => true
    .hidden
      = f.input :nickname, :hint => 'Leave this field blank!'
    %div
      = f.button :submit, 'Send message', :class=> "btn btn-primary"
