html{
	width: 100%;		
}

body{
	background: rgba(255, 255, 255, 1);
	line-height: 140%;
	font-family: 'Cabin';	
	font-size: 100%;
	letter-spacing: 1px;
}


/* Font types =============================================================== */
/*
@font-face {
	font-family: 'Agilis';
	src: font-url('Agilis.otf');
}

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Regular.otf');
    font-weight: normal;
    font-style: normal;    
}
@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Italic.otf');
    font-weight: normal;
    font-style: italic;    
}
@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cabin';
    src: url('Cabin-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}
*/
/* ============================= Elements =================================== */

h1 {
	font-size:150%;
	margin: 5px 0;
}

h2 {
	font-size:120%;
	margin: 5px 0;
}

/* ============================== Header ==================================== */
header{
	margin: 0 auto;
    overflow: auto;
    width: 100%;
}

/* Nav */
header nav {
    background: rgba(0, 0, 0, 0.1);
	width: 100%;
	padding: 5px 0;
	margin: 0 auto;
}

header nav ul {
	margin: 0 auto;
	padding: 0;
	max-width: 920px;
}
        
header nav li {	
	overflow: auto;
	display: inline;
	margin: 0;
	padding: 0;
	height: 100%;	
}

header nav li a {
	margin: 0 auto;
	padding: 5px;
	color: black;
    text-decoration: none;
}

header nav li a:hover {
    background: rgba(64, 193, 193, 1);    
}

#title{
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.logo {
	margin: 0;
	padding: 20px 0;
	/*background: yellow;	*/
	vertical-align: middle;
}

#contacts {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	text-align: right;
}

#contacts li {
	margin: 5px 10px;
}
#contacts li span {
	width: 150px;
}

/* ============================== Content =================================== */
.content {
	margin: 20px auto;
	padding: 0;	
}

.services {	
	padding: 0;
	margin: 0 auto;	
}

.services ul {
	padding: 10px 0;
}

.services li {
	margin: 10px 0;
	color: rgba(64, 193, 193, 1);
	font-weight:bold;
	font-size:120%;
}

.area {
	padding: 0;
	margin: 0 auto;
}

.area ul {
	padding: 10px 0;
}

.area li {
	margin: 5px 0;
}

.budget {
}

.services-full{
	margin: 10px 0;
}

.services-full h2{
	margin-top: 15px;
}


.hidden { display: none; }

/* flash */
.alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
}

.alert-alert {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
}

.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}

.alert-notice {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}

/* ============================== Footer ==================================== */
#clients{
    background: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.75);
    margin: 0 auto;
    padding: 5px;
}

#footer{
	background: rgba(0, 0, 0, 0.75);
	color: rgba(255, 255, 255, 0.75);
	text-align: center;
	font-size: 75%;
	line-height: 105%;
    padding: 20px 0;    
    margin: 0 auto;    
    width: 100%;
    min-height: 50px;
    vertical-align: middle;    
}
