%section#clients
  .zerogrid
    %h4 Testemunhos
    = render 'general/testemonieslist'
%section#footer
  %img{:alt => "logo50h", :src => "pictures/logo50h.png"}/
  %p 2014 | Suse Lopes Enfermagem
  %p
  %p powered by domikestudios.com