%header
  /
    <div class='logo'>
    <img src="pictures/siteLogo.png" alt="logo"/>
    </div>
  %section#title
    .zerogrid.row
      .col-1-2.logo
        %h1 SUSENF - Apoio Domiciliário
      .col-1-2#contacts
        = render 'general/contactslist'        
  %nav.nav-collapse
    %ul
      %li= link_to "início", root_path
      %li= link_to "serviços", pages_services_path
      %li= link_to "testemunhos", pages_testemonies_path
      %li= link_to "FAQ", pages_faq_path      
      %li= link_to "contactos", pages_contacts_path
      / %li= link_to "blog", blog_path