!!!
%html
  %head
    %title
      = full_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  = render "layouts/header"
  .content
    .zerogrid
      %p.notice= notice
      %p.alert= alert
      = yield
  = render "layouts/footer"